<article class="comment-container">
  <header>
    <span id="comment-user">Username</span>
    <span id="comment-date">Date</span>
  </header>
  <span id="body">
    <span id="message">Some comment hurgablurga big chungus yee yee</span>
  </span>
</article>