<article class="resource-page">
  <header>
    <span id="res-title">Coding Challenges</span>
    <span id="res-category">Programming</span>
  </header>

  <span class="resource-info">
    <img id="res-img" src="../../public/images/no-thumb.png">
    <span id="desc-box">
      <span id="res-description">Some coding excercises yee yee</span>
      <span id="res-url">-------------URL------------</span>
    </span>
  </span>
  <span id="foot">
    <span id="res-likes">Likes: 30</span>
    <span class="res-ratings">
      <span id="my-rating">My Rating: 4/5</span>
      <span id="global-rating">Global Rating: 2.5/5</span>
    </span>
  </span>
  <span id="comment-section">
    <span>add comment field and comments will be in here</span>
  </span>
</article>
