<section id="profile-container">
  <!---------------------------NAME-------------------------->
  <div class="profile-content">
    <span id=user-name">Name: ${escape(userData.name)}</span>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Edit
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Enter New Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="edit-name" class="md-form mb-4">
            <div class="modal-body">
                <i class="fas fa-lock prefix grey-text"></i>
                <input name="newName" id="orangeForm-pass" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" form="edit-name" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
  <!---------------------------EMAIL-------------------------->
  <div class="profile-content">
    <span id="user-email">EMAIL: ${escape(userData.email)}</span>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Edit
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Enter New Email Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="edit-email" class="md-form mb-4"></form>
            <div class="modal-body">
              <i class="fas fa-lock prefix grey-text"></i>
              <input name="newEmail" id="orangeForm-pass" class="form-control">
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="edit-email" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<footer id="user-stats">
  <span id="resources">
    Resources Created: ${escape(userData.created_resources)}
  </span>
  <span id="resources">
    Likes: ${escape(userData.my_likes)}
  </span>
  <span id="resources">
    Ratings: ${escape(userData.my_ratings)}
  </span>
  <span id="resources">
    Comments: ${escape(userData.my_comments)}
  </span>
</footer>
</section>
