<nav class="d-flex justify-content-between navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar"> <!-- Main FLex Box -->
  <div class="d-flex ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      <!--  <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a id="newresource"class="nav-link" href="#">New Resource</a>
        </li>
          <li class="nav-item">
            <a id="myresources" class="nav-link" href="#">My Resources</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browse Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>

        </li>
      <!--   <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="d-flex">
    <a class="navbar-brand" href="/">Filomath</a>
  </div>
  <div class="d-flex">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <form action="/user/logout" method="POST">
          <button id="logout" class="btn btn-outline-primary my-2 my-sm-0" type="submit" class="nav-link" href="#">Logout</a>
          </form>
        </li>
      </ul>
  </div>

</nav>
