<article class="resource-container">
  <header>
    <span id="title">Coding Challenges</span>
    <span id="resource-views">Views: 226</span>
  </header>
  <span id="body">
    <img id="thumbnail-img" src="../../public/images/no-thumb.png">
    <span id="description">Some coding excercises yee yee</span>
  </span>
  <footer>
      <span id="likes">Likes: 30</span>
      <span class="ratings">
        <span id="personal-rating">My Rating: 4/5</span>
        <span id="personal-rating">Global Rating: 2.5/5</span>
      </span>
    </footer>
</article>`