body {
  /* margin-top: 5em; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  /* margin: 2em; */
}

#resource-form {
  display: none;
}

#single-resource{
  display: none;
}