body {
  /* margin-top: 5em; */
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(144, 148, 148);
  /* background-image: url("https://www.publicdomainpictures.net/pictures/260000/velka/triangles-grid-background.jpg") */
  /* background-image: url("https://pixabay.com/get/57e3d7404b52ad14ea9d8578c52e337b1239c3e45659704e752c72d692/blue-1323101.png"); */
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  width: 100%;
  height: 100%;
}

#resources-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#resource-form {
  display: none;
}

#single-resource{
  display: none;
}
