.resource-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  width: 90%;
  height: 18em;
  border: solid;
  border-width: 2px;
  border-radius: 0.5em;
  border-color: black;
  padding: 2em;
  padding-bottom: 0.25em;
  margin-top: 1em;
  opacity: 90%;
  background-color: #F9F1E9;
}

.resource-container:hover {
  /* box-shadow: 10px 10px 5px grey;
  text-shadow: 0.5px 0.5px #545149; */
  opacity: 1;
  background-color: #ffffff;
 }

.resource-container header {
 /*  display: flex;
  flex-direction: column;
  justify-content: space-between; */
  margin-bottom: 0.5em;
}

#title {
  font-size: larger;
}

#body {
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-all;
}

#thumbnail-img {
  width: 5em;
  height: auto;
  margin: 0;
  margin-right: 1em;
  padding: 0;
  border-radius: 0.25em;
}

.resource-container footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.resource-container #like-icon {
  width: 1.5em;
}

#like-div {
  display: flex;
}

#likes-ratings {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

#url-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

#url-link a {
color: black;
font-size: 1.25em;

}

.ratings {
  display: flex;
  flex-direction: column;
}

#time-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#title-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#like-div {
  display: flex;
  align-items: center;
}
