.resource-container {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  margin-left: 10%;
  margin-right: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 0.5em;
  margin-top: 1em;
}

.resource-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

#title {
  font-size: larger;
}

#body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#thumbnail-img {
  width: 10%;
}

.resource-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ratings {
  display: flex;
  flex-direction: column;
}